.dn { display: none; }
.di { display: inline; }
.db { display: block; }
.dib { display: inline-block; }
.dt { display: table }
.dtc { display: table-cell }
.df { display: flex }

.hide, .nonvisual-indicator {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.invisible { visibility: hidden; }
.visible { visibility: visible; }

@if (variable-exists(breakpoints)) {
  @each $bp-name, $bp-value in $breakpoints {
    $infix: breakpoint-infix($bp-name, $breakpoints);
    
    @if(breakpoint-min($bp-name, $breakpoints) != null) {
      @media (min-width: $bp-value) {
        .#{$infix}dn { display: none; }
        .#{$infix}di { display: inline; }
        .#{$infix}db { display: block; }
        .#{$infix}dib { display: inline-block; }
        .#{$infix}dt { display: table; }
        .#{$infix}dtc { display: table-cell; }
        .#{$infix}df { display: flex }
        .#{$infix}invisible { visibility: hidden; }
        .#{$infix}visible { visibility: visible; }
      }
    }
  }
}
