.flex { display: flex; }
.flex-column { flex-direction: column; }
.flex-row { flex-direction: row; }
.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }

.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }
.items-center { align-items: center; }
.items-baseline { align-items: baseline; }
.items-stretch { align-items: stretch; }

.self-start { align-self: flex-start; }
.self-end { align-self: flex-end; }
.self-center { align-self: center; }
.self-baseline { align-self: baseline; }
.self-stretch { align-self: stretch; }

.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }

.content-start { align-content: flex-start; }
.content-end { align-content: flex-end; }
.content-center { align-content: center; }
.content-between { align-content: space-between; }
.content-around { align-content: space-around; }
.content-stretch { align-content: stretch; }

// 1. Fix for Chrome 44 bug. https://code.google.com/p/chromium/issues/detail?id=506893
.flex-auto {
  flex: 1 1 auto;
  min-height: 0; // 1
  min-width: 0; // 1
}

.flex-none { flex: none; }

@for $i from -10 through 10 {
  .order-#{$i} { order: #{$i}; }
}

@if (variable-exists(breakpoints)) {
  @each $bp-name, $bp-value in $breakpoints {
    $infix: breakpoint-infix($bp-name, $breakpoints);
    
    @if(breakpoint-min($bp-name, $breakpoints) != null) {

      @media (min-width: $bp-value) {
        .#{$infix}flex { display: flex; }
        .#{$infix}flex-none { flex: none; }
        .#{$infix}flex-column { flex-direction: column; }
        .#{$infix}flex-row { flex-direction: row; }
        .#{$infix}flex-wrap { flex-wrap: wrap; }
        .#{$infix}flex-nowrap { flex-wrap: nowrap; }
        .#{$infix}items-start { align-items: flex-start; }
        .#{$infix}items-end { align-items: flex-end; }
        .#{$infix}items-center { align-items: center; }
        .#{$infix}items-baseline { align-items: baseline; }
        .#{$infix}items-stretch { align-items: stretch; }

        .#{$infix}self-start { align-self: flex-start; }
        .#{$infix}self-end { align-self: flex-end; }
        .#{$infix}self-center { align-self: center; }
        .#{$infix}self-baseline { align-self: baseline; }
        .#{$infix}self-stretch { align-self: stretch; }

        .#{$infix}justify-start { justify-content: flex-start; }
        .#{$infix}justify-end { justify-content: flex-end; }
        .#{$infix}justify-center { justify-content: center; }
        .#{$infix}justify-between { justify-content: space-between; }
        .#{$infix}justify-around { justify-content: space-around; }

        .#{$infix}content-start { align-content: flex-start; }
        .#{$infix}content-end { align-content: flex-end; }
        .#{$infix}content-center { align-content: center; }
        .#{$infix}content-between { align-content: space-between; }
        .#{$infix}content-around { align-content: space-around; }
        .#{$infix}content-stretch { align-content: stretch; }

        .#{$infix}flex-auto {
          flex: 1 1 auto;
          min-height: 0; // 1
          min-width: 0; // 1
        }

        @for $i from -10 through 10 {
          .#{$infix}order-#{$i} { order: #{$i}; }
        }
      }
    }
  }
}
