.center {
  margin-left: auto;
  margin-right: auto;
}

.left { float: left; }
.right { float: right; }

.overflow-hidden { overflow: hidden }
.overflow-scroll { overflow: scroll }
.overflow-auto { overflow: auto }

.fit { max-width: 100% }
.fill-x { width: 100% }
.fill-y { height: 100% }
.fill { width: 100%; height: 100%; }
.fill-viewport { width: 100vw; height: 100vh; }

@for $i from 1 through $layout-count {
  .x#{$i} {width: #{$i * .5}rem;}
  .max-x#{$i} {max-width: #{$i * .5}rem;}
  .min-x#{$i} {min-width: #{$i * .5}rem;}
  .y#{$i} {height: #{$i * .5}rem;}
  .max-y#{$i} {max-height: #{$i * .5}rem;}
  .min-y#{$i} {min-height: #{$i * .5}rem;}
}

.h-100 {
  height: 100%;
}

/* Max Width Percentages */
.mw-none { max-width: none; }
.mw-100  { max-width: 100%; }

/* Max Width Scale */
.mw1  {  max-width: 1rem; }
.mw2  {  max-width: 2rem; }
.mw3  {  max-width: 4rem; }
.mw4  {  max-width: 8rem; }
.mw5  {  max-width: 16rem; }
.mw6  {  max-width: 32rem; }
.mw7  {  max-width: 48rem; }
.mw8  {  max-width: 64rem; }
.mw9  {  max-width: 96rem; }

@if (variable-exists(breakpoints)) {
  @each $bp-name, $bp-value in $breakpoints {
    $infix: breakpoint-infix($bp-name, $breakpoints);

    @if(breakpoint-min($bp-name, $breakpoints) != null) {
      @media (min-width: $bp-value) {
        @for $i from 1 through $layout-count {
          .#{$infix}x#{$i * 10} { width: #{$i * .5}rem; }
          .#{$infix}x-#{$i * 10} { width: #{$i * 10}#{%}; }
        }

        .#{$infix}w-auto { width: auto; }
        .#{$infix}mw-none { max-width: none; }
        .#{$infix}mw-100 { max-width: 100%; }
        .#{$infix}mw1  {  max-width: 1rem; }
        .#{$infix}mw2  {  max-width: 2rem; }
        .#{$infix}mw3  {  max-width: 4rem; }
        .#{$infix}mw4  {  max-width: 8rem; }
        .#{$infix}mw5  {  max-width: 16rem; }
        .#{$infix}mw6  {  max-width: 32rem; }
        .#{$infix}mw7  {  max-width: 48rem; }
        .#{$infix}mw8  {  max-width: 64rem; }
        .#{$infix}mw9  {  max-width: 96rem; }
      }
    }
  }
}
